body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}
header img {
  width: 100%;
}
header {
  /* display: flex; */
}
.header_text {
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  right: 7%;
  text-align: end;
  margin: 0 30px;
}
.header_text >h2{
    font-weight: 800;
    font-size: 40px;
}
.header_text button{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: 0;
    font-weight: 600;
    border-radius: 8px;
}